.App{
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: space-evenly;
}
.logo{
  font-size: 7vw;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login{
  margin-right: 3vw;
}
.reg{
  margin-left: 3vw;
}